## mako
<%! 
  from django.core.urlresolvers import reverse 
  from edxmako.shortcuts import marketing_link
%>
<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}">AGB</a></li>
          <li><a href="${reverse('tos')}#privacy">Datenschutz</a></li>
          <li><a href="${reverse('tos')}#honor">Impressum</a></li>
          <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
          <li><a href="${reverse('about_edx')}#contact">Contact</a></li>
          <li><a href="${marketing_link('FAQ')}">Hilfe</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>basierent auf <a href="http://code.edx.org">OpenEdX</a>.</span>
    </div>
  </footer>
</div>
